.color {
    background-color: #F1EBE6;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.titulo {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.titulo2 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;

}


.linkDeContacto {
    position: fixed;
    bottom: 0%;
    display: flex;
    background-color: #faf6f8;
    width: 100%;
    justify-content: flex-end;
}

.linkDeContacto .nav-link {
    padding: 20px;
}



.titulo-subrayado {
    position: relative;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #343a40;
}

.titulo-subrayado::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 4px;
    background-color: #EDDDD4;
    bottom: -5px;
    left: 20%;

}

.titulo-subrayado .misProyectos {
    text-align: left;
}

p {
    text-align: justify;
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth"100,
        "YTLC"500
}

ul {
    height: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth"100,
        "YTLC"500
}

.degradado {
    background: linear-gradient(to bottom right, #ffc0cb, white);
}

.navbar .nav-link {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.navbar .nav-link.active {

    font-weight: 600;
}

.bottonColor {

    color: black;
    background-color: pink;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    height: 35px;

}